<h1 class="heading-msg">Prepare to Travel in</h1>
<div class="countdown" simpleCountdown [dateTo]="1584662400" [styles]="
        '
        font-size: 110px;
        text-align:center;
        color: white;
        background-color: transplate;
        padding: 10px 35px;
        font-weight: bold;
        min-width:40px;
        margin:0 1px;
      '
      "
></div>
<img src="https://upload.wikimedia.org/wikipedia/en/d/d0/Animal_Crossing_New_Horizons_logo.png" alt="New Horizon Logo" class="logo">
